.modal-bg {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.05s ease-in-out;
}

.modal {
	display: block;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 12px 0 HSL(243deg 62% 18% / 20%), 0px 2px 6px 0 HSL(243deg 62% 18% / 15%);
	padding: 0;
	transition: background-color 0.15s ease-in-out, drop-shadow 0.15s ease-in-out;
	position: absolute;
	width: auto;
	min-width: 400px;
	max-width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(15, 15, 15, 0.95);
	border: 1px solid rgba(30, 30, 30, 1);
	overflow: hidden;

	&.modal-wide {
		width: calc(100% - 10px);
	}

	.modal-header, .modal-footer {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.modal-header {
		display: flex;
		flex-shrink: 0;
		justify-content: flex-start;
		align-items: center;
		border-bottom: 1px solid rgba(30, 30, 30, 1);
		padding: 1.25rem;
		position: relative;

		h2 {
			padding: 0;
			margin: 0;
			flex-grow: 1;
			flex-shrink: 0;
			font-size: 1.25rem;
			line-height: 1;
		}

		.modal-close {
			height: 50%;
			padding: 0.2rem 0.65rem;
			margin: 0;
			border-radius: 50%;
			text-decoration: none;

			&:hover {
				text-decoration: none;
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}

	.modal-footer {
		padding: 1.25rem;
		border-top: 1px solid rgba(30, 30, 30, 1);

		&.buttons {
			justify-content: flex-end;
		}
	}

	> input[type="search"] {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		padding: 0.75rem 0.75rem;
	}

	nav {
		display: inline-block;

		a {
			display: block;
			padding: 0.6rem 1.25rem;
			color: rgba(255, 255, 255, 0.9);
			text-decoration: none;
			transition: color 0.2s ease-in-out,
					background-color 0.2s ease-in-out;
			cursor: pointer;

			&:hover {
				color: white;
				background: rgba(255, 255, 255, 0.1);
				text-decoration: none;
			}

			&.active {
				background: rgba(255, 255, 255, 0.1);
				font-weight: bold;
			}

			&.active:hover {
				background: rgba(255, 255, 255, 0.15);
			}
		}
	}

	.modal-body {
		padding: 1.25rem;
	}

	.modal-body, & > ul {
		max-height: 500px;
		overflow: hidden auto;
	}

	.modal-flex {
		display: flex;
		flex-direction: row;
		height: 500px;

		.modal-body {
			flex: 1;
		}
	}
}

@supports (backdrop-filter: blur(12px)) {
	.modal-bg {
		backdrop-filter: blur(12px);
		background: rgba(0, 0, 0, 0.65);
	}
}

.modal-bg-lighter {
	background: rgba(0, 0, 0, 0.4);
}
